.empty-status {
  margin: 2rem auto;
  border-radius: 8px;
  padding: 1.5rem 0.5rem;
  color: var(--main-color);
  h2 {
    font-size: 26px;
    margin-bottom: 0;
  }
}
@media(max-width: 578px) {
  .empty-status {
    h2 {
      font-size: 20px;
    }
  }
}
