:root {
  --main-color: #D3B393; /*#ff5400*/
  --second-color: #1F4287;/* #0d40a1 */
  --second-color-two: #183062;/* #0d40a1 */
  --text-color: #868da5;
  --font-cairo: 'Cairo', sans-serif;
  --font-tajawal: 'Tajawal', sans-serif;
  --white: #ffffff;
  --black: #211f1f;
  --light-white: #fff;
  --nav-color: #373737;
  --input-placeholder: #868da5;
  --border-color: #f6f6f7;
  --border-input: #e1e8ed;
  --error: #ff0000;
  --warning: #ffae5d;
  --success: #17d69a;
}
